<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">Kablamo</a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <div class="is-right">
            <ul>
              <li class="navbar-item"><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title |
                  escape }}</a></li>
            </ul>
          </div>
          {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </nav>
  <section class="hero is-info is-fullhd is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          The new standard in &lt;insert industry here&gt;
        </h1>
        <h2 class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </h2>
      </div>
    </div>
  </section>
</header>