@import "bulma/bulma";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body .container,.home {
    min-height: 80vh;
}

.hero {
    height: 480px;
}

#wrapper {
    flex: 1;
}