---
layout: page
---

<div class="page container">
  <div class="columns">
    <div class="column is-half">
      {{ content }}
    </div>
    <div class="column is-half">
      <form id="contact-form" action="/api/contact" method="POST">
        <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-left">
            <input id="contact-name" class="input" type="text" placeholder="Robert Terwilliger" minlength="2" required>
            <span class="icon is-small is-left">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <input id="contact-email" class="input" type="email" placeholder="user@email.com" value="" required>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Phone</label>
          <div class="control has-icons-left">
            <input id="contact-phone" class="input" type="tel" placeholder="(555) 555-5555" value="">
            <span class="icon is-small is-left">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea id="contact-body" class="textarea" placeholder="Textarea" minlength="120" required></textarea>
          </div>
        </div>

        <div class="h-captcha" data-sitekey="{{ site.env.HCAPTCHA_SITE_KEY }}" data-callback="enableContactSubmit">
        </div>

        <div class="field">
          <div class="control">
            <button id="contact-submit-btn" class="button is-link" type="submit" disabled>Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>